body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 400px;
    padding-right: 250px;
}

/* PAGE 1 CSS */

.page1 {
    top: 0px;
    left: 0px;
    width: 1970px;
    height: 750px;
    /* UI Properties */
    background: #7D8587 0% 0% no-repeat padding-box;
    opacity: 1;
}

.page1 nav {
    color: #FFFFFF;
    margin-left: -100px;
    margin-top: 40px;
    width: 650px;
}

a {
    margin-right: 20px;
}


.book {
    /* Layout Properties */
    width: 193px;
    height: 41px;
    /* UI Properties */
    background: #FEA100 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    opacity: 1;
    right: 300px;
    position: absolute;
    margin-top: 25px;
}

.res {
    margin-top: 20px;
}

.cart {
    width: 21px;
    height: 17px;
}

.call {
    margin-top: 120px;
    text-align: center;
    margin-left: 700px;
    width: 500px;
}

h5 {
    color: #FEA100;
    opacity: 1;
    font-size: 14px;
}

h6 {
    margin-top: -10px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 36px;
}

.im1970x750 {
    color: #FFFFFF;
    font-size: 22px;
    margin-left: -3%;
    margin-top: 120px;
    text-align: center;
}

.teast {
    text-align: center;
    margin-left: -3%;
    color: #FFFFFF;
}

.text1 {
    font-size: 62px;
    margin-top: 40px;
}

.text2 {
    font-size: 42px;
    margin-top: -65px;
}

/* PAGE 2 CSS */

.page2 {
    top: 750px;
    left: 0px;
    height: 633px;
    width: 1970px;
    background-color: white;
}

.explore {
    background: #FEA100 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

/* PAGE 3 CSS */

.page3 {
    /* Layout Properties */
    top: 1383px;
    left: 0px;
    width: 1970px;
    height: 518px;
    /* UI Properties */
    background: #565F61 0% 0% no-repeat padding-box;
    opacity: 1;
}

.resdiv {
    text-align: center;
    padding-top: 115px;
}

.in {
    margin: 10px;
    width: 300px;
    height: 40px;
}

.rese {
    color: #FFFFFF;
    font-size: 35px;
}

.make {
    position: absolute;
    width: 200px;
    height: 51px;
    background: #FEA100 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #FFFFFF;
    border-width: 0;
    margin-left: -320px;
    margin-top: 20px;
}

.im1970x518 {
    margin-top: -30px;
    margin-left: 1170px;
    color: #FFFFFF;
    font-size: 22px;
    position: absolute;
}

.you {
    position: absolute;
    margin-left:900px;
    font-size: 14px;
    line-height: 0px;
    margin-top: 26px;
}

.text11{
    color: #FFFFFF;
}

.text12 {
    color: #FE4C8D;
}

.telnum {
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 320px;
    margin-top: 33px;
}

.im241x234 {
    display: flex;
    width: 241px;
    height: 234px;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #7D8587;
    margin-right: 300px;
    margin-left: 1350px;
    margin-top: -95px;
}

.im293x293 {
    position: absolute;
    display: flex;
    width: 293px;
    height: 293px;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #7D8587;
    margin-left: 320px;
    margin-top: -160px;
}

/* PAGE 4 CSS */

.page4 {
    width: 1970px;
    height: 558px;
    background-color: white;
}

.happy {
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
}

h4 {
    margin-top: 50px;
    font-size: 22px;
}

.opin {
    margin-top: 60px;
    width: 638px;
    margin-left: 35%;
    font-size: 15px;
    color: #363D43;
}

/* PAGE 5 CSS */

.page5 {
    /* Layout Properties */
    top: 2459px;
    left: 0px;
    width: 1970px;
    height: 648px;
    /* UI Properties */
    background: #EDF1F3 0% 0% no-repeat padding-box;
    opacity: 1;
}

.gallery {
    text-align: center;
    font-size: 35px ;
    padding-top: 100px;
}


/* PAGE 6 CSS */

.page6 {
    top: 750px;
    left: 0px;
    height: 226px;
    width: 1970px;
    background-color: white;
}

.image210x210 {
    display: flex;
    width: 210px;
    height: 210px;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #7D8587;
    margin-right: 300px;
    margin-left: 1000px;
    margin-top: -90px;
}

.open {
    font-size: 35px;
    font-style: bold;
    margin-top: 90px;
}

.monday {
    margin-left: -1100px;
    margin-top: 90px;
    font-size: 20px;
}

.saturday {
    margin-left: -900px;
    margin-top: 90px;
    font-size: 20px;
}

.orange {
    color: #FEA100;
    font-size: 30px;
}


/* LAST PAGE FOOTER CSS */

footer {
    top: 3333px;
    left: 0px;
    width: 1970px;
    height: 510px;
    background: #373844 0% 0% no-repeat padding-box;
    color: #ADB2B7;
    font-family: Sintony;
}

.white_color {
    color: #FFFFFF
}

ul {
    list-style-type: none;
}

li a {
    display: block;
    color: #ADB2B7;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

footer .app {
    /* Layout Properties */
    top: 3491px;
    left: 1300px;
    width: 219px;
    height: 61px;
    /* UI Properties */
    background: #52535E 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: #FFFFFF;
    border-width: 0;
}

.sub {
    width: 149px;
    height: 51px;
    background: #FEA100 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #FFFFFF;
    border-width: 0;

}

.email {
    width: 311px;
    height: 51px;
    border: 2px solid #52535E;
    border-radius: 4px;
    background-color: #373844;

}

footer nav {

    top: 3490px;
    left: 399px;
    width: 78px;
    height: 194px;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0.35px;
    color: #ADB2B7;
    opacity: 1;
}

.sector2 button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.darkblue {
    /* Layout Properties */
    top: 3609px;
    left: 700px;
    width: 52px;
    height: 52px;
    /* UI Properties */
    background: #3B5998 0% 0% no-repeat padding-box;
    opacity: 1;
}

.lightblue {
    /* Layout Properties */
    top: 3609px;
    left: 759px;
    width: 52px;
    height: 52px;
    /* UI Properties */
    background: #55ACEE 0% 0% no-repeat padding-box;
    opacity: 1;
}

.red {
    /* Layout Properties */
    top: 3609px;
    left: 818px;
    width: 52px;
    height: 52px;
    /* UI Properties */
    background: #DD4B39 0% 0% no-repeat padding-box;
    opacity: 1;
}

input .email {
    color: #FFFFFF;
}

footer .container {
    padding-top: 100px;
}

.sector2 {
    margin-left: -100px;
}

.white_color {
    font-size: 24px;
}

.sector1 nav {
    font-size: 14px;
    line-height: 30px;
    margin-left: -37px;
}

.sector3 img {
    margin-left: -110px;
    margin-top: 8px;
    margin-right: 20px;
}

.end {
    text-align: center;
    width: 1970px;
    margin-top: 90px
}

.luxury {
    color: #FFFFFF;
}

.fbuttontext {
    margin-top: 5px;
    position: absolute;
    text-align: left;
}

.large {
    font-size: 18px;
}